.container {
  @media screen and (max-width: 479px) {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    // width: 480px;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    // width: 100%;
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
}
